body {
  margin: 0;
  background-color: rgb(54, 44, 116);
}
h2 {
  letter-spacing: 8px;
  font-weight: 900;
  font-size: xx-large;
  font-family: "Aladin", cursive;
  font-family: "Barlow", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Tulpen One", cursive;
}

.con-home {
  margin-right: 90px;
}

.container {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
  /* background-color: aliceblue; */
  height: 100%;
}
#home,
#guest {
  background-color: black;
  width: 155px;
  height: 120px;
  align-items: center;
  padding-top: 50px;
  border-radius: 5px;
  color: #fb7185;
}
.home-btn,
.guest-btn {
  margin-top: 20px;
  /* text-align: center; */
}
button {
  width: 45px;
  height: 45px;
  border: 1px solid #9aabd8;
  border-radius: 5px;
  color: #9aabd8;
  background-color: rgb(54, 44, 116);
}
button:hover {
  background-color: rgb(93, 80, 175);
}
